/***********************************************************************
 *  First section
 **********************************************************************/

.hero-area.single-product-page {
  display: grid;
  grid-gap: 40px;
  padding: 114px 0 0;
  margin-bottom: 6rem;
  .product-imgs {
    height: calc(100vh - 114px);
    width: 100%;
    position: relative;
    .product-container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .circle-shape {
        width: 700px;
        height: 700px;
        border-radius: 50%;
        background-color: #ecf0f3;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 151px 0px rgba(156, 156, 156, .27);
      }
    }
}



  .product-details {
    width: 100%;
    background: #FDFDFD;
    padding: 20px;
    .titles {
      .brand{
        text-transform: uppercase;
        color: #f55;
        font-weight: 900;
        font-size: .8rem;
        margin-bottom: 2rem;
      }
      .product {
        text-transform: capitalize;
        color: #1f1f1f;
        font-weight: 500;
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }
      .product-sku {
        font-size: 10px;
        font-family: Plain;
        line-height: 1.5;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: rgb(119, 119, 119);
        margin-top: 15px;
        padding: 0px;
      }
    }
    .details {
      p {
        margin: 2rem 0;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.4;
      }
    }
    .add-to-cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .btn-area {
        .button {
          border: 1px solid #1f1f1f;
          background: #fff;
          padding: 1rem ;
          display: block;
          color: #000;
          font-weight: 700;
          margin-bottom: 1rem;
          cursor: pointer;
          text-align: center;
        }
      }
    }
    .detail-space {
      padding: 0;
      .toggle {
        display: none;
        &:checked {
          & + .title + .content {
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: scroll;
          }
          & + .title:before {
            transform: rotate(90deg) !important;
          }
        }
      }
      .size {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
      .detail {
        position: relative;
        margin-bottom: 2rem;
      }

      .title,.content {
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: all .2s;
      }
      .title {
        background: #fff;
        border: 1px solid #1f1f1f;
        padding: 1rem 1rem;
        display: block;
        color: #000;
        font-weight: 700;
        margin-bottom: 1rem;
        cursor: pointer;
        &.size-title {
          background: black;
          color: white;
        }
      }
      .title:after, .title:before {
        content: '';
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        width: 2px;
        height: 0.75rem;
        background-color: #000;
        transition: all 0.2s;
      }
      .size-title:after, .size-title:before {
        background-color: #fff;
      }
      .title:after {
        transform: rotate(90deg);
      }
      .content {
        max-height: 0;
        overflow: hidden;

        .option {
          border: 1px solid #fff;
          padding: 10px;
          display: inline-block;
          color: grey;
          transition: all .2s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          text-transform: capitalize;
          &:hover, &.selected {
            background: #1f1f1f;
            color: #fff;
            font-weight: 700;
            border: 1px solid #1f1f1f;
          }
        }
      }
    }
  }
}

//media querries
//Small screens
@media (min-width: 600px) {
  .single-product-page {
    grid-template-columns: 1fr;
    .product-imgs {
      width: 100%;
      height: calc(100vh - 600px);
    }
    .product-container {
      .circle-shape {
          width: 100%;
          img {
            width: 100%;
          }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .single-product-page {
    grid-template-columns: 1fr;
    .product-imgs {
      width: 100%;
      height: calc(100vh - 600px);
    }
    .product-container {
      .circle-shape {
          width: 100%;
          img {
            width: 100%;
          }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .single-product-page {
    grid-template-columns: repeat(2, 1fr);
  }
}
